{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Game!!
        </title>
    </head>
    <body>
        <h4>Hello, {{ me }}! You are Playing against {{ opponent }}</h4>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        
            function count(arr, data) {
                var c = 0;
                for (let i = 0; i < arr.length; i++) {
                    if (arr[i] == data) {
                        c++;
                    }
                }
                return c;
            }
            
            let radBool = new Array();
            function radPressed(submitForm, id) {
                x = document.getElementById(id);
                radBool[id] = !radBool[id];
                x.checked = radBool[id];
                if (count(radBool, true) > 1) {
                    processGameState(submitForm);
                }
            }
            
            function lineBreak() {
                form.appendChild(document.createElement('br'));
            }
            
            function processGameState(submittheForm) {
                let pressed = new Array();
                let pressedID = new Array();
                let submitForm = false;
                for (let i = 0; i < radBool.length; i++) {
                    if (radBool[i]) {
                        pressed.push(document.getElementById(i))
                        pressedID.push(i);
                    }
                }
            
                let x0 = Math.floor(pressed[0].getBoundingClientRect().x);
                let y0 = Math.floor(pressed[0].getBoundingClientRect().y);
            
                let x1 = Math.floor(pressed[1].getBoundingClientRect().x);
                let y1 = Math.floor(pressed[1].getBoundingClientRect().y);
            
            
                line = document.createElement('h4');
                line.style.position = "fixed";
                if (y1 - y0 == 0) {
                    if (Math.abs(x1 - x0) > 25) {
                        alert("Cannot Join those points!");
                    } else {
                        line.style.top = (y0-33).toString() + "px";
                        line.style.left = (x0+9).toString() + "px";
                        line.innerHTML = "__";
                        submitForm = true;
                    }
                } else if (x1 - x0 == 0) {
                    if (Math.abs(y1 - y0) > 25) {
                        alert("Cannot Join those points!");
                    } else {
                        line.style.top = (y1-35).toString() + "px";
                        line.style.left = (x1+5).toString() + "px";
                        line.innerHTML = "|";
                        submitForm = true;
                    }
                } else {
                    alert("Cannot Join those points!");
                }
            
                form.appendChild(line);
            
                for (let i = 0; i < radBool.length; i++) {
                    if (radBool[i]) {
                        document.getElementById(i).checked = false;
                        radBool[i] = false;
                    }
                }

                hidden.value = pressedID.toString();
                type.value = line.innerHTML;
                if (submitForm && submittheForm) form.submit();
                hidden.value = '';

            }
            
            form = document.createElement('form');
            
            function init() {
                for (let i = 10; i < 100; i++) {
                    if (i%10 == 0) {
                        lineBreak();
                    }
                    x = document.createElement('input');
                    x.type = 'radio';
                    x.id = i;
                    x.name = i;
                    x.setAttribute('onclick', 'radPressed(true, ' + x.id + ')');
                    form.appendChild(x);
                }
            }
            
            form.method = "POST"
            form.setAttribute("action", "{% url 'game:game' me opponent %}")
            
            hidden = document.createElement('input');
            hidden.type = "hidden";
            hidden.name = "hidden";

            type = document.createElement('input');
            type.type = "hidden";
            type.name = "type";

            form.appendChild(hidden);
            form.appendChild(type);
            
            document.body.appendChild(form);
            {{ extras }}
        </script>
        <br>
        <br>
        {{ cur_play }}'s play
        <br>
        {{ players }}
        {{ scoreBoard }}
        <a href="{% url 'game:logout' me %}">Logout</a>
    </body>
</html>
